<%= form_with model: creator, data: { turbo_frame: "creators" } do |f| %>
  <div class="grid grid-cols-6 gap-4 py-4 my-4">
    <div><%= f.text_field :name, placeholder: "Name", class: "w-full rounded border border-gray-300 px-2 py-1 text-sm" %></div>
    <div><%= f.email_field :email, placeholder: "Email", class: "w-full rounded border border-gray-300 px-2 py-1 text-sm" %></div>
    <div><%= f.submit "Create", class: "bg-indigo-600 text-white px-4 py-1 rounded hover:bg-indigo-700 text-sm" %></div>
  </div>
<% end %>