<%= form_with(model: [ @creator, @creator.payouts.new ], data: { turbo_frame: "_top" }) do |f| %>
  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount, step: 0.01, class: "border p-1" %>
  </div>
  <div>
    <%= f.submit "Create Payout", class: "bg-blue-500 text-white px-2 py-1 mt-2" %>
  </div>
<% end %>
